# Predicting NHL's Norris Trophy Voting

## Pulling In The Data

In [1]:
import pandas as pd

# create list of season values
seasons = []

for i in range(79, 99):
    seasons.append("19" + str(i) + "19" + str(i + 1))

seasons.append("19992000")

for i in range(0, 20):
    first = str(i).zfill(2)
    second = str(i + 1).zfill(2)
    season = "20" + first + "20" + second
    
    if season != "20042005": # leave out 04-05, as a lockout caused a total loss of that season
        seasons.append("20" + first + "20" + second)
    
seasons

['19791980',
 '19801981',
 '19811982',
 '19821983',
 '19831984',
 '19841985',
 '19851986',
 '19861987',
 '19871988',
 '19881989',
 '19891990',
 '19901991',
 '19911992',
 '19921993',
 '19931994',
 '19941995',
 '19951996',
 '19961997',
 '19971998',
 '19981999',
 '19992000',
 '20002001',
 '20012002',
 '20022003',
 '20032004',
 '20052006',
 '20062007',
 '20072008',
 '20082009',
 '20092010',
 '20102011',
 '20112012',
 '20122013',
 '20132014',
 '20142015',
 '20152016',
 '20162017',
 '20172018',
 '20182019',
 '20192020']

compile each set of dataframes into single - can still filter by season as needed

In [2]:
standings_prefix = "season_standings_"
skater_stats_prefix = "skater_stats_"
norris_voting_prefix = "norris_voting_"

standings_dfs = []
skater_stats_dfs = []
voting_dfs = []

def create_dataframes(season):
    standings_df = pd.read_csv("season_standings/season_standings_" + season + ".csv")
    standings_df["season"] = season
    skater_stats_df = pd.read_csv("skater_stats/skater_stats_" + season + ".csv")
    skater_stats_df["season"] = season
    # for voting data, there's none for current, suspended season - skip it
    try:
        voting_df = pd.read_csv("norris_voting/norris_voting_" + season + ".csv")
        voting_df["season"] = season
    except:
        pass
        
    standings_dfs.append(standings_df)
    skater_stats_dfs.append(skater_stats_df)
    try:
        voting_dfs.append(voting_df)
    except:
        pass
    
for season in seasons:
    create_dataframes(season)

In [3]:
len(standings_dfs)

40

In [4]:
len(skater_stats_dfs)

40

In [5]:
len(voting_dfs)

39

In [6]:
standings_data = pd.concat(standings_dfs).reset_index(drop=True)
skater_stats_data = pd.concat(skater_stats_dfs).reset_index(drop=True)
voting_data = pd.concat(voting_dfs).reset_index(drop=True)

In [7]:
print(len(standings_data))
standings_data.head()

1056

,Team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,RW,RgRec,RgPt%,season
0,Philadelphia Flyers*,80,48,12,20,116,0.725,327,254,0.87,-0.04,NaN,NaN,NaN,NaN,19791980
1,New York Islanders*,80,39,28,13,91,0.569,281,247,0.41,-0.02,NaN,NaN,NaN,NaN,19791980
2,New York Rangers*,80,38,32,10,86,0.538,308,284,0.29,-0.01,NaN,NaN,NaN,NaN,19791980
3,Atlanta Flames*,80,35,32,13,83,0.519,282,269,0.16,-0.01,NaN,NaN,NaN,NaN,19791980
4,Washington Capitals,80,27,40,13,67,0.419,261,293,-0.38,0.02,NaN,NaN,NaN,NaN,19791980

In [8]:
print(len(skater_stats_data))
skater_stats_data.head()

37107

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,PLUSMINUS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,season
0,110,Marcel Dionne*,28,LAK,C,80,53,84,137,34,...,348,15.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
1,176,Wayne Gretzky*,19,EDM,C,79,51,86,137,14,...,284,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
2,268,Guy Lafleur*,28,MTL,RW,74,50,75,125,40,...,323,15.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
3,414,Gilbert Perreault*,29,BUF,C,80,40,66,106,33,...,180,22.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
4,458,Mike Rogers,25,HAR,C,80,44,61,105,28,...,229,19.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980

In [9]:
print(len(voting_data))
voting_data.head()

639

,Place,Player,Age,Tm,Pos,Votes,Vote%,1st,2nd,3rd,...,5th,G,A,PTS,PLUSMINUS,OPS,DPS,GPS,PS,season
0,1,Larry Robinson,28,MTL,D,239,46.41,NaN,NaN,NaN,...,NaN,14,61,75,38,5.5,5.9,0,11.4,19791980
1,2,Borje Salming,28,TOR,D,117,22.72,NaN,NaN,NaN,...,NaN,19,52,71,3,5.5,3.5,0,9.0,19791980
2,3,Jim Schoenfeld,27,BUF,D,85,16.50,NaN,NaN,NaN,...,NaN,9,27,36,60,1.9,7.7,0,9.7,19791980
3,4,Ray Bourque,19,BOS,D,51,9.90,NaN,NaN,NaN,...,NaN,17,48,65,52,4.7,7.1,0,11.8,19791980
4,5,Mark Howe,24,HAR,D,23,4.47,NaN,NaN,NaN,...,NaN,24,56,80,14,6.5,3.6,0,10.1,19791980

In [10]:
skater_stats_data.columns

Index(['Rk', 'Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', 'PLUSMINUS',
       'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV.1', 'PP.1', 'SH.1', 'S', 'S%',
       'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%', 'season'],
      dtype='object')

## Modifying & Cleaning the Dataframes: Pre-Merge

### Cleaning/Editing Team & Player Names

In [11]:
standings_data["Team"] = standings_data["Team"].str.replace("*", "")
skater_stats_data["Player"] = skater_stats_data["Player"].str.replace("*", "")
voting_data["Player"] = voting_data["Player"].str.replace("*", "")

In [12]:
standings_data["Team"].unique()

array(['Philadelphia Flyers', 'New York Islanders', 'New York Rangers',
       'Atlanta Flames', 'Washington Capitals', 'Chicago Black Hawks',
       'St. Louis Blues', 'Vancouver Canucks', 'Edmonton Oilers',
       'Winnipeg Jets', 'Colorado Rockies', 'Buffalo Sabres',
       'Boston Bruins', 'Minnesota North Stars', 'Toronto Maple Leafs',
       'Quebec Nordiques', 'Montreal Canadiens', 'Los Angeles Kings',
       'Pittsburgh Penguins', 'Hartford Whalers', 'Detroit Red Wings',
       'Calgary Flames', 'New Jersey Devils', 'innesota North Stars',
       'hicago Black Hawks', 'Chicago Blackhawks', 'San Jose Sharks',
       'Tampa Bay Lightning', 'Ottawa Senators', 'Florida Panthers',
       'Dallas Stars', 'Mighty Ducks of Anaheim', 'hiladelphia Flyers',
       'Colorado Avalanche', 'Phoenix Coyotes', 'Carolina Hurricanes',
       'Nashville Predators', 'Atlanta Thrashers',
       'Columbus Blue Jackets', 'Minnesota Wild', 'ew Jersey Devils',
       'Anaheim Ducks', 'ontreal Canadiens', 'Arizona Coyotes',
       'orida Panthers', 'ampa Bay Lightning', 'Vegas Golden Knights'],
      dtype=object)

In [13]:
replace_values = {
        "ampa Bay Lightning": "Tampa Bay Lightning",
        "ew Jersey Devils": "New Jersey Devils",
        "hicago Black Hawks": "Chicago Black Hawks",
        "hiladelphia Flyers": "Philadelphia Flyers",
        "innesota North Stars": "Minnesota North Stars",
        "ontreal Canadiens": "Montreal Canadiens",
        "orida Panthers": "Florida Panthers"
    }

standings_data = standings_data.replace({"Team": replace_values})

# fix jets rows to distinguish old org from new
def replace_jets(row):
    if row["Team"] == "Winnipeg Jets":
        if row["season"] in seasons[-9:]: # for seasons 20112012 and later
            row["Team"] = "Winnipeg Jets (New)"
        else:
            row["Team"] = "Winnipeg Jets (Original)"
    
    return row

standings_data = standings_data.apply(replace_jets, axis=1)

In [14]:
standings_data["Team"].unique()

array(['Philadelphia Flyers', 'New York Islanders', 'New York Rangers',
       'Atlanta Flames', 'Washington Capitals', 'Chicago Black Hawks',
       'St. Louis Blues', 'Vancouver Canucks', 'Edmonton Oilers',
       'Winnipeg Jets (Original)', 'Colorado Rockies', 'Buffalo Sabres',
       'Boston Bruins', 'Minnesota North Stars', 'Toronto Maple Leafs',
       'Quebec Nordiques', 'Montreal Canadiens', 'Los Angeles Kings',
       'Pittsburgh Penguins', 'Hartford Whalers', 'Detroit Red Wings',
       'Calgary Flames', 'New Jersey Devils', 'Chicago Blackhawks',
       'San Jose Sharks', 'Tampa Bay Lightning', 'Ottawa Senators',
       'Florida Panthers', 'Dallas Stars', 'Mighty Ducks of Anaheim',
       'Colorado Avalanche', 'Phoenix Coyotes', 'Carolina Hurricanes',
       'Nashville Predators', 'Atlanta Thrashers',
       'Columbus Blue Jackets', 'Minnesota Wild', 'Anaheim Ducks',
       'Winnipeg Jets (New)', 'Arizona Coyotes', 'Vegas Golden Knights'],
      dtype=object)

### Converting Team Names to Abbreviations in Standings Data

In [15]:
skater_stats_data["Tm"].unique()

array(['LAK', 'EDM', 'MTL', 'BUF', 'HAR', 'NYI', 'TOR', 'STL', 'MNS',
       'ATF', 'BOS', 'QUE', 'DET', 'TOT', 'PHI', 'NYR', 'VAN', 'WIN',
       'CBH', 'WSH', 'CLR', 'PIT', 'CGY', 'NJD', 'CHI', 'SJS', 'TBL',
       'OTT', 'DAL', 'FLA', 'MDA', 'COL', 'PHX', 'CAR', 'NSH', 'ATL',
       'CBJ', 'MIN', 'ANA', 'WPG', 'ARI', 'VEG'], dtype=object)

something something two different ATLs, two winnipeg jets

79-80 was the last season for the atlanta flames, 80-81 the first for calgary flames

95-96 was last season for original wpg jets, 11-12 was first season for new wpg jets

In [16]:
team_abbrevs = {
    "Anaheim Ducks": "ANA",
    "Arizona Coyotes": "ARI",
    "Atlanta Flames": "ATF",
    "Atlanta Thrashers": "ATL",
    "Boston Bruins": "BOS",
    "Buffalo Sabres": "BUF",
    "Carolina Hurricanes": "CAR",
    "Chicago Black Hawks": "CBH",
    "Columbus Blue Jackets": "CBJ",
    "Calgary Flames": "CGY",
    "Chicago Blackhawks": "CHI",
    "Colorado Rockies": "CLR",
    "Colorado Avalanche": "COL",
    "Dallas Stars": "DAL",
    "Detroit Red Wings": "DET",
    "Edmonton Oilers": "EDM",
    "Florida Panthers": "FLA",
    "Hartford Whalers": "HAR",
    "Los Angeles Kings": "LAK",
    "Mighty Ducks of Anaheim": "MDA",
    "Minnesota Wild": "MIN",
    "Minnesota North Stars": "MNS",
    "Montreal Canadiens": "MTL",
    "New Jersey Devils": "NJD",
    "Nashville Predators": "NSH",
    "New York Islanders": "NYI",
    "New York Rangers": "NYR",
    "Ottawa Senators": "OTT",
    "Philadelphia Flyers": "PHI",
    "Phoenix Coyotes": "PHX",
    "Pittsburgh Penguins": "PIT",
    "Quebec Nordiques": "QUE",
    "San Jose Sharks": "SJS",
    "St. Louis Blues": "STL",
    "Tampa Bay Lightning": "TBL",
    "Toronto Maple Leafs": "TOR",
    "Vancouver Canucks": "VAN",
    "Vegas Golden Knights": "VEG",
    "Winnipeg Jets (Original)": "WIN",
    "Winnipeg Jets (New)": "WPG",
    "Washington Capitals": "WSH"
}

In [17]:
standings_data["Team"] = standings_data["Team"].replace(team_abbrevs)

In [18]:
standings_data.head()

,Team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,RW,RgRec,RgPt%,season
0,PHI,80,48,12,20,116,0.725,327,254,0.87,-0.04,NaN,NaN,NaN,NaN,19791980
1,NYI,80,39,28,13,91,0.569,281,247,0.41,-0.02,NaN,NaN,NaN,NaN,19791980
2,NYR,80,38,32,10,86,0.538,308,284,0.29,-0.01,NaN,NaN,NaN,NaN,19791980
3,ATF,80,35,32,13,83,0.519,282,269,0.16,-0.01,NaN,NaN,NaN,NaN,19791980
4,WSH,80,27,40,13,67,0.419,261,293,-0.38,0.02,NaN,NaN,NaN,NaN,19791980

In [19]:
for team in standings_data["Team"].unique():
    if team not in skater_stats_data["Tm"].unique():
        print(team)

for team in skater_stats_data["Tm"].unique():
    if team not in standings_data["Team"].unique():
        print(team)

TOT

### Filtering Skater Stats Data to Defensemen Only

double-check all of the position values that skater stats has listed to determine how to properly filter to just defensemen

In [20]:
skater_stats_data["Pos"].unique()

array(['C', 'RW', 'LW', 'D', 'W', 'F', 'C; LW'], dtype=object)

In [21]:
# make a copy, filtering to just defensemen, and sorting by season > Player name > GP (include GP so totals for players with duplicate entries are last)
defensemen_stats_data = skater_stats_data[skater_stats_data["Pos"] == "D"].copy().sort_values(by=["season", "Player", "GP"]).reset_index(drop=True)

print(len(defensemen_stats_data))
defensemen_stats_data.head(15)

12817

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,PLUSMINUS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,season
0,63,Al Cameron,24,WIN,D,63,3,11,14,-27,...,82,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
1,183,Al Hamilton,33,EDM,D,31,4,15,19,-1,...,34,11.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
2,186,Al Hangsleben,26,HAR,D,37,3,15,18,9,...,40,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
3,186,Al Hangsleben,26,WSH,D,37,10,7,17,2,...,67,14.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
4,186,Al Hangsleben,26,TOT,D,74,13,22,35,10,...,107,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
5,495,Al Sims,26,HAR,D,76,10,31,41,10,...,141,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
6,113,Andre Dore,21,NYR,D,2,0,0,0,-1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
7,121,Andre Dupont,30,PHI,D,58,1,7,8,37,...,73,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
8,25,Barry Beck,22,CLR,D,10,1,5,6,-3,...,20,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
9,25,Barry Beck,22,NYR,D,61,14,45,59,16,...,150,9.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
10,25,Barry Beck,22,TOT,D,71,15,50,65,13,...,170,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
11,155,Barry Gibbs,31,LAK,D,63,2,9,11,-13,...,55,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
12,288,Barry Legge,25,QUE,D,31,0,3,3,2,...,15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
13,301,Barry Long,31,DET,D,80,0,17,17,-28,...,87,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
14,364,Barry Melrose,23,WIN,D,74,4,6,10,-41,...,101,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980

### Handling Duplicate Player Entries In Player Stats Data

skater stats data contains multiple entries per player in a season if that player was traded during the season (see entries for "Barry Beck" above).  stats for the player during the time they were with each team + a "total" entry.

in this case, we're going to choose to replace "TOT" with the abbreviation representing the team they played the most games with (the team that, for the player, provided the largest "sample size" of their play that season).  In the rare case that a player played the exact same number of games with multiple teams in a season, we'll break the tie based on plus/minus (a statistic considered highly representative of their team's performance vs. the opponent while they're on the ice), followed by total points they scored, if necessary.

In [22]:
# identify all traded players by filtering dataframe to entries with "TOT" as the team
traded_players = defensemen_stats_data[defensemen_stats_data["Tm"] == "TOT"]

# crate a list that contains just the names and seasons, which we can iterate through
traded_players_list = [(row[0], row[1]) for row in traded_players[["Player", "season"]].values]

# create a list and populate with the team abbreviations that represent replacement values for "TOT" for each player + season
team_most_games = []
for player, season in traded_players_list:
    player_data = defensemen_stats_data.loc[(defensemen_stats_data["Player"] == player) & (defensemen_stats_data["season"] == season) & (defensemen_stats_data["Tm"] != "TOT")].copy()
    # sort each individual player's DF by games played first, then PLUSMINUS > points if GP the same for multiple rows
    player_data = player_data.sort_values(by=["GP", "PLUSMINUS", "PTS"], ascending=False)
    team_most_games.append(player_data.iloc[0]["Tm"])

# now replace "TOT" values in the original defensemen dataframe with the updated team abbreviation values
defensemen_stats_data.loc[defensemen_stats_data["Tm"] == "TOT", "Tm"] = team_most_games

defensemen_stats_data.head(15)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,PLUSMINUS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,season
0,63,Al Cameron,24,WIN,D,63,3,11,14,-27,...,82,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
1,183,Al Hamilton,33,EDM,D,31,4,15,19,-1,...,34,11.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
2,186,Al Hangsleben,26,HAR,D,37,3,15,18,9,...,40,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
3,186,Al Hangsleben,26,WSH,D,37,10,7,17,2,...,67,14.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
4,186,Al Hangsleben,26,HAR,D,74,13,22,35,10,...,107,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
5,495,Al Sims,26,HAR,D,76,10,31,41,10,...,141,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
6,113,Andre Dore,21,NYR,D,2,0,0,0,-1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
7,121,Andre Dupont,30,PHI,D,58,1,7,8,37,...,73,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
8,25,Barry Beck,22,CLR,D,10,1,5,6,-3,...,20,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
9,25,Barry Beck,22,NYR,D,61,14,45,59,16,...,150,9.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
10,25,Barry Beck,22,NYR,D,71,15,50,65,13,...,170,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
11,155,Barry Gibbs,31,LAK,D,63,2,9,11,-13,...,55,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
12,288,Barry Legge,25,QUE,D,31,0,3,3,2,...,15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
13,301,Barry Long,31,DET,D,80,0,17,17,-28,...,87,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
14,364,Barry Melrose,23,WIN,D,74,4,6,10,-41,...,101,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980

now drop duplicates, keeping the last row in each case.  use season and "Rk" (rather than name, just in case there are any same-names) as the column subset to determine duplicates

In [23]:
defensemen_stats_data = defensemen_stats_data.drop_duplicates(subset=["season", "Rk"], keep = "last")
defensemen_stats_data.head(15)

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,PLUSMINUS,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,season
0,63,Al Cameron,24,WIN,D,63,3,11,14,-27,...,82,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
1,183,Al Hamilton,33,EDM,D,31,4,15,19,-1,...,34,11.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
4,186,Al Hangsleben,26,HAR,D,74,13,22,35,10,...,107,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
5,495,Al Sims,26,HAR,D,76,10,31,41,10,...,141,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
6,113,Andre Dore,21,NYR,D,2,0,0,0,-1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
7,121,Andre Dupont,30,PHI,D,58,1,7,8,37,...,73,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
10,25,Barry Beck,22,NYR,D,71,15,50,65,13,...,170,8.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
11,155,Barry Gibbs,31,LAK,D,63,2,9,11,-13,...,55,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
12,288,Barry Legge,25,QUE,D,31,0,3,3,2,...,15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
13,301,Barry Long,31,DET,D,80,0,17,17,-28,...,87,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
14,364,Barry Melrose,23,WIN,D,74,4,6,10,-41,...,101,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
15,576,Behn Wilson,21,PHI,D,61,9,25,34,20,...,119,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
16,180,Bill Hajt,28,BUF,D,75,4,12,16,35,...,63,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
17,573,Blake Wesley,20,PHI,D,2,0,1,1,-3,...,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980
18,101,Bob Dailey,26,PHI,D,61,13,26,39,31,...,185,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19791980

Note that players like Al Hangsleben and Barry Beck now no longer have duplicate entries in this top segment of our dataframe.

## Merging the Dataframes

In [24]:
players_teams_data = defensemen_stats_data.merge(standings_data, how="left", left_on=["season", "Tm"], right_on=["season", "Team"], suffixes=("_player", "_team"))
players_teams_data.head()

,Rk,Player,Age,Tm,Pos,GP_player,G,A,PTS_player,PLUSMINUS,...,PTS_team,PTS%,GF,GA,SRS,SOS,RPt%,RW,RgRec,RgPt%
0,63,Al Cameron,24,WIN,D,63,3,11,14,-27,...,51,0.319,214,314,-1.19,0.06,NaN,NaN,NaN,NaN
1,183,Al Hamilton,33,EDM,D,31,4,15,19,-1,...,69,0.431,301,322,-0.25,0.01,NaN,NaN,NaN,NaN
2,186,Al Hangsleben,26,HAR,D,74,13,22,35,10,...,73,0.456,303,312,-0.11,0.01,NaN,NaN,NaN,NaN
3,495,Al Sims,26,HAR,D,76,10,31,41,10,...,73,0.456,303,312,-0.11,0.01,NaN,NaN,NaN,NaN
4,113,Andre Dore,21,NYR,D,2,0,0,0,-1,...,86,0.538,308,284,0.29,-0.01,NaN,NaN,NaN,NaN

In [25]:
players_teams_data.columns

Index(['Rk', 'Player', 'Age', 'Tm', 'Pos', 'GP_player', 'G', 'A', 'PTS_player',
       'PLUSMINUS', 'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV.1', 'PP.1',
       'SH.1', 'S', 'S%', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%',
       'season', 'Team', 'GP_team', 'W', 'L', 'OL', 'PTS_team', 'PTS%', 'GF',
       'GA', 'SRS', 'SOS', 'RPt%', 'RW', 'RgRec', 'RgPt%'],
      dtype='object')

before we merge in the norris trophy voting data, let's drop the columns that would be duplicates and not necessary for merging

In [26]:
voting_data.columns

Index(['Place', 'Player', 'Age', 'Tm', 'Pos', 'Votes', 'Vote%', '1st', '2nd',
       '3rd', '4th', '5th', 'G', 'A', 'PTS', 'PLUSMINUS', 'OPS', 'DPS', 'GPS',
       'PS', 'season'],
      dtype='object')

In [27]:
voting_data = voting_data.drop(["Age", "Tm", "Pos", "G", "A", "PTS", "PLUSMINUS", "PS"], axis = 1)
voting_data.columns

Index(['Place', 'Player', 'Votes', 'Vote%', '1st', '2nd', '3rd', '4th', '5th',
       'OPS', 'DPS', 'GPS', 'season'],
      dtype='object')

In [28]:
all_merged_data = players_teams_data.merge(voting_data, how="left", left_on=["season", "Player"], right_on=["season", "Player"])
all_merged_data.head()

,Rk,Player,Age,Tm,Pos,GP_player,G,A,PTS_player,PLUSMINUS,...,Votes,Vote%,1st,2nd,3rd,4th,5th,OPS,DPS,GPS
0,63,Al Cameron,24,WIN,D,63,3,11,14,-27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,183,Al Hamilton,33,EDM,D,31,4,15,19,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,186,Al Hangsleben,26,HAR,D,74,13,22,35,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,495,Al Sims,26,HAR,D,76,10,31,41,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,113,Andre Dore,21,NYR,D,2,0,0,0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning Up The Data

### Dropping Unnecessary Columns

let's take a look at all of the columns we're left with now, noting their datatypes and whether they're missing any values.  we'll then focus on dropping columns that won't be useful to us, and renaming the remaining ones for clarity

In [29]:
all_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10757 entries, 0 to 10756
Data columns (total 55 columns):
Rk            10757 non-null int64
Player        10757 non-null object
Age           10757 non-null int64
Tm            10757 non-null object
Pos           10757 non-null object
GP_player     10757 non-null int64
G             10757 non-null int64
A             10757 non-null int64
PTS_player    10757 non-null int64
PLUSMINUS     10757 non-null int64
PIM           10757 non-null int64
PS            10757 non-null float64
EV            10757 non-null int64
PP            10757 non-null int64
SH            10757 non-null int64
GW            10757 non-null int64
EV.1          10757 non-null int64
PP.1          10757 non-null int64
SH.1          10757 non-null int64
S             10757 non-null int64
S%            10333 non-null float64
TOI           6369 non-null float64
ATOI          6369 non-null object
BLK           3942 non-null float64
HIT           3946 non-null float64
FOW           3942 non-null float64
FOL           3942 non-null float64
FO%           491 non-null float64
season        10757 non-null object
Team          10757 non-null object
GP_team       10757 non-null int64
W             10757 non-null int64
L             10757 non-null int64
OL            10757 non-null int64
PTS_team      10757 non-null int64
PTS%          10757 non-null float64
GF            10757 non-null int64
GA            10757 non-null int64
SRS           10757 non-null float64
SOS           10757 non-null float64
RPt%          6079 non-null float64
RW            4547 non-null float64
RgRec         4547 non-null object
RgPt%         4547 non-null float64
Place         638 non-null float64
Votes         638 non-null float64
Vote%         638 non-null float64
1st           612 non-null float64
2nd           612 non-null float64
3rd           612 non-null float64
4th           463 non-null float64
5th           463 non-null float64
OPS           638 non-null float64
DPS           638 non-null float64
GPS           638 non-null float64
dtypes: float64(25), int64(23), object(7)
memory usage: 4.6+ MB

Off the bat, a few columns that won't be necessary or useful to us are:
- `Rk`: served as nothing more than a row index value in the original player stat tables on Hockey-Reference.com
- `Pos`: Now that we've filtered skater data down to defensemen only, no longer serves a purpose
- `FOW` (face-offs won): a statistic primarily associated with forwards, as defensemen almost never take face-offs
- `FOL` (face-offs lost): same reasoning as above
- `FO%` (face-off win percentage): same reasoning as above
- `Team`: duplicate of the `Tm` column

For now, when it comes to the columns related to team standings/statistics per season, we'll only be keeping the `PTS_team` column, which represents the number of standings points a team achieved in a season.  Typically, this value is calculated as a sum of per-game point earnings (2 points for a win, 0 for a regulation time loss, and 1 for a tie or overtime/shootout loss).

As for the voting data columns, for now, we'll be dropping:
- `Vote%`: A metric calculated by dividing the vote point total a player received by the number of points they would have received if every vote they were given was a 1st place vote.  We'll be generating our own more useful target metric using the vote points (`Votes`) column
- `1st`, `2nd`, `3rd`, `4th`, `5th`: Represents number of votes of each placement given to a player; there's a lack of consistency when it comes to how many of these were given (i.e. only `1st`, `2nd`, and `3rd` place votes in 1982 vs. all 5 more recently), as well as missing values for these entirely for the first 2 seasons in our data
- `OPS`, `DPS`: Represent "offensive point share" and "defensive point share," respectively (see [here](https://www.hockey-reference.com/about/point_shares.html) for how these values are calculated); these values are only available, in our aggregated dataset, for players who received votes each season; and while they could be calculated for the remainder of players (or pulled separately), we do have total point share (`PS`) available for all players, which should suffice for our current needs.
- `GPS`: Represents "goalie point share"; in addition to the above reasoning, is only relevant for those who play the goalie position

In [30]:
columns_to_drop = [
    "Rk",
    "Pos",
    "FOW",
    "FOL",
    "FO%",
    "Team",
    "GP_team",
    "W",
    "L",
    "OL",
    "PTS%",
    "GF",
    "GA",
    "SRS",
    "SOS",
    "RPt%",
    "RW",
    "RgRec",
    "RgPt%",
    "Vote%",
    "1st",
    "2nd",
    "3rd",
    "4th",
    "5th",
    "OPS",
    "DPS",
    "GPS"
]

pared_data = all_merged_data.drop(columns_to_drop, axis = 1).copy()
pared_data.columns

Index(['Player', 'Age', 'Tm', 'GP_player', 'G', 'A', 'PTS_player', 'PLUSMINUS',
       'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV.1', 'PP.1', 'SH.1', 'S', 'S%',
       'TOI', 'ATOI', 'BLK', 'HIT', 'season', 'PTS_team', 'Place', 'Votes'],
      dtype='object')

### Adjusting Remaining Columns/Labels

let's adjust the `Place` column to simply be representative of whether a player was the Norris Trophy winner or not.  We'll replace any number other than 1 (including `NaN` values) with 0.

we'll also fill in the `Votes` column (representing total vote points) for any player not receiving votes with a 0.

In [31]:
pared_data.loc[pared_data["Place"] != 1, "Place"] = 0

# double-check that all values in the column are now either 0 or 1
pared_data["Place"].value_counts()

0.0    10718
1.0       39
Name: Place, dtype: int64

In [32]:
pared_data.loc[pared_data["Votes"].isnull(), "Votes"] = 0

# double check that there are no more null values in the column
pared_data["Votes"].isnull().sum()

0

now let's adjust our column names for clarity and syntax consistency

In [33]:
new_column_labels = {
    "Player": "name",
    "Age": "age",
    "Tm": "team",
    "GP_player": "games_played",
    "G": "goals",
    "A": "assists",
    "PTS": "points",
    "PLUSMINUS": "plus_minus",
    "PIM": "penalty_minutes",
    "PS": "point_share",
    "EV": "even_strength_goals",
    "PP": "power_play_goals",
    "SH": "shorthanded_goals",
    "GW": "game_winning_goals",
    "EV.1": "even_strength_assists",
    "PP.1": "power_play_assists",
    "SH.1": "shorthanded_assists",
    "S": "shots",
    "S%": "shooting_pct",
    "TOI": "total_toi",
    "ATOI": "avg_toi",
    "BLK": "blocked_shots",
    "HIT": "hits",
    "PTS_team": "team_standings_pts",
    "Votes": "norris_vote_points",
    "Place": "season_winner"
}

pared_data.rename(new_column_labels, axis = 1, inplace = True)
pared_data.columns

Index(['name', 'age', 'team', 'games_played', 'goals', 'assists', 'PTS_player',
       'plus_minus', 'penalty_minutes', 'point_share', 'even_strength_goals',
       'power_play_goals', 'shorthanded_goals', 'game_winning_goals',
       'even_strength_assists', 'power_play_assists', 'shorthanded_assists',
       'shots', 'shooting_pct', 'total_toi', 'avg_toi', 'blocked_shots',
       'hits', 'season', 'team_standings_pts', 'season_winner',
       'norris_vote_points'],
      dtype='object')

In [35]:
pared_data.head(10)

,name,age,team,games_played,goals,assists,PTS_player,plus_minus,penalty_minutes,point_share,...,shots,shooting_pct,total_toi,avg_toi,blocked_shots,hits,season,team_standings_pts,season_winner,norris_vote_points
0,Al Cameron,24,WIN,63,3,11,14,-27,72,2.7,...,82,3.7,NaN,NaN,NaN,NaN,19791980,51,0.0,0.0
1,Al Hamilton,33,EDM,31,4,15,19,-1,20,2.4,...,34,11.8,NaN,NaN,NaN,NaN,19791980,69,0.0,0.0
2,Al Hangsleben,26,HAR,74,13,22,35,10,114,6.3,...,107,12.1,NaN,NaN,NaN,NaN,19791980,73,0.0,0.0
3,Al Sims,26,HAR,76,10,31,41,10,30,5.8,...,141,7.1,NaN,NaN,NaN,NaN,19791980,73,0.0,0.0
4,Andre Dore,21,NYR,2,0,0,0,-1,0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,19791980,86,0.0,0.0
5,Andre Dupont,30,PHI,58,1,7,8,37,107,3.6,...,73,1.4,NaN,NaN,NaN,NaN,19791980,116,0.0,0.0
6,Barry Beck,22,NYR,71,15,50,65,13,106,9.2,...,170,8.8,NaN,NaN,NaN,NaN,19791980,86,0.0,0.0
7,Barry Gibbs,31,LAK,63,2,9,11,-13,32,1.8,...,55,3.6,NaN,NaN,NaN,NaN,19791980,74,0.0,0.0
8,Barry Legge,25,QUE,31,0,3,3,2,18,1.4,...,15,0.0,NaN,NaN,NaN,NaN,19791980,61,0.0,0.0
9,Barry Long,31,DET,80,0,17,17,-28,38,2.3,...,87,0.0,NaN,NaN,NaN,NaN,19791980,63,0.0,0.0

In [37]:
pared_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10757 entries, 0 to 10756
Data columns (total 27 columns):
name                     10757 non-null object
age                      10757 non-null int64
team                     10757 non-null object
games_played             10757 non-null int64
goals                    10757 non-null int64
assists                  10757 non-null int64
PTS_player               10757 non-null int64
plus_minus               10757 non-null int64
penalty_minutes          10757 non-null int64
point_share              10757 non-null float64
even_strength_goals      10757 non-null int64
power_play_goals         10757 non-null int64
shorthanded_goals        10757 non-null int64
game_winning_goals       10757 non-null int64
even_strength_assists    10757 non-null int64
power_play_assists       10757 non-null int64
shorthanded_assists      10757 non-null int64
shots                    10757 non-null int64
shooting_pct             10333 non-null float64
total_toi                6369 non-null float64
avg_toi                  6369 non-null object
blocked_shots            3942 non-null float64
hits                     3946 non-null float64
season                   10757 non-null object
team_standings_pts       10757 non-null int64
season_winner            10757 non-null float64
norris_vote_points       10757 non-null float64
dtypes: float64(7), int64(16), object(4)
memory usage: 2.3+ MB